h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.gridcont {
    display: block;
    text-align: center;
    overflow-x: overlay;
}

#game-grid {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: overlay;
    margin-left: auto;
    margin-right: auto;
}

#game-grid:first-child {
    margin-left: 0;
}

#game-grid:last-child {
    margin-right: 0;
}

.game-board {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5rem;
}

.letter-row {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
}

.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2rem;
    font-weight: 700;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 2pt 2pt #110011;
}

.filled-box {
    border: 2px solid lightgray;
}

#keyboard-cont {
    padding-top: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-x: overlay;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    max-width: 30rem;
}

.keyboardrow {
    display: inline-flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
}

.keyboard-button {
    display: block;
    height: 3rem;
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    background-color: grey;
    text-shadow: 1pt 1pt #110011;
    color: whitesmoke;
}

body {
    font-family: 'Averia Sans Libre', sans-serif;
    color: whitesmoke;
    text-shadow: 1pt 1pt #110011;
    background-color: #110011;
}

.footer {
    text-align: center;
    padding-bottom: 1rem;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.widebox {
    width: auto;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    padding: 1rem 1rem 0;
    text-shadow: none;
}

.widebox button {
    font-size: 1.5rem;
    text-shadow: none;
}

.wide {
    display: inline;
    padding-left: 3rem;
    padding-right: 3rem;
}

.modal-header {
    padding: 2px 16px;
    background-color: lightgrey;
    color: dimgrey;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: dimgrey;
    color: whitesmoke;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid dimgrey;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    text-shadow: 1pt 1pt #110011, -1pt 1pt #110011, 1pt -1pt #110011, -1pt -1pt #110011;
}

.modal-content {
    background-color: #222222;
    color: whitesmoke;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid dimgrey;
    width: 80%;
    max-width: 40rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.yellow {
    background: repeating-linear-gradient( 45deg, rgba(230, 159, 0, 1), rgba(230, 159, 0, 1) 2px, rgba(230, 159, 0, 0) 2px, rgba(230, 159, 0, 0) 4px);
}

.green {
    background: repeating-linear-gradient( 135deg, rgba(0, 158, 115, 1), rgba(0, 158, 115, 1) 2px, rgba(230, 159, 0, 0) 2px, rgba(230, 159, 0, 0) 4px);
}

.spaced {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}